{{#partial "head"}}{{/partial}}
{{#partial "content"}}
    Vilkommen
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Un">
        <input type="text" name="password" placeholder="pw">
        <button>Login</button>
    </form>
<br>
    <form action="/register" method="post"><button>register</button></form>
{{/partial}}
    {{#partial "footer"}}{{/partial}}
{{>base.hbs}}