{{#partial "head"}}{{/partial}}
{{#partial "content"}}
<p>välkommen  {{username}}</p>
<form action="/posts" method="post">
    <select name="category" >
        <option value="Formell">Formell</option>
        <option value="Informell">Informell</option>
        <option value="Övrigt">Övrigt</option>
    </select>
    <input type="text" name="text">
    <button>Skicka</button>
</form>

<a href="/posts">Posts</a>

{{/partial}}
{{#partial "footer"}}{{/partial}}
{{>base.hbs}}