{{#partial "content"}}
    <h1>Current posts</h1>

    <ul>
        {{#each fullPostsTextu}}
            <li>
                {{ this }}
            </li>
        {{/each}}
    </ul>
{{/partial}}

{{> base.hbs}}